@{
    ViewData["Title"] = "NoDataError";
}

<div class="text-center">
    <h1 class="display-4">No records</h1>
    <p>Oops..there are no records for the date or the coordinates provided</p>
</div>

