@{
    ViewData["Title"] = "OutOfBoundsError";
}

<div class="text-center">
    <h1 class="display-4">Coordinates are out of bounds</h1>
    <p>The coordinates provided seems outside of the United Kingdom</p>
</div>

